@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Orbitron:wght@400;500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Hammersmith One", "Orbitron", sans-serif;
  color: purple;
}

.index {
  background-color: black;
}

.Barra {
  padding-top: 10px;
  padding-bottom: 25px;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-Mode {
  background-color: black;
}

#ZonaJuego {
  position: relative;
  width: 100%;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../img/fondo-juego.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: purple;
}

.Temporizador {
  display: flex;
  font-size: 3rem;
  color: black;
  opacity: 0.5;
  width: 50%;
  text-align: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 3%;
}

.Efectosumar {
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 43%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  animation: moveUp 1s forwards;
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.monster-vida {
  z-index: 1000;
  color: black;
  position: absolute;
  top: 23%;
  left: 50%;
}

#PointButton {
  font-size: 2rem;
  width: 200px;
  top: 30%;
  left: 43%;
  cursor: pointer;
  position: absolute;
}

div.NickBarra {
  padding-left: 25px;
  display: flex;
  align-items: center;
}

.Top-Lista {
  padding: 10px 25px 10px 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid purple;
}
.Top-Lista ul {
  list-style: none;
}

div.Cont-tittle {
  display: flex;
  align-items: center;
}
div.Cont-tittle .Logo-Tittle {
  font-size: 4rem;
  color: white;
  cursor: pointer;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}
div.Cont-tittle .Logo-Tittle:hover {
  text-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green, 0 0 100px green;
}

.Titulo-Puntuacion {
  padding-left: 25px;
  border: 2px solid purple;
  padding-right: 10px;
}

.Boton-Reiniciar {
  background-color: transparent;
  color: #fff;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}

.Boton-Reiniciar::before {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, purple, purple, purple, purple);
  background-size: 400% 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Boton-Reiniciar:hover {
  color: purple;
  border-color: white;
  text-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

#Boton-Modo-Dark {
  background-color: transparent;
  color: #fff;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}

#Boton-Modo-Dark::before {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, purple, purple, purple, purple);
  background-size: 400% 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
}

#Boton-Modo-Dark:hover {
  color: purple;
  border-color: white;
  text-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

.Boton-musica {
  background-color: transparent;
  color: #fff;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}

.Boton-musica::before {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, purple, purple, purple, purple);
  background-size: 400% 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
}

.brbaja {
  padding-top: 2rem;
}

.shop {
  background-color: transparent;
  color: #fff;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}

.shop:hover {
  color: purple;
  border-color: white;
  text-shadow: 0 0 5px white, 0 0 25px white, 0 0 50px white, 0 0 100px white;
}

div:where(.swal2-container) div:where(.swal2-popup) {
  background-color: black !important;
  color: white !important;
  border: 4px solid purple !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 1000; /* Asegura que esté encima de todo el contenido */
}

#playButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.Musica-ON {
  background-color: transparent;
  color: #fff;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green, 0 0 100px green;
}

.Musica-ON::before {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, purple, purple, purple, purple);
  background-size: 400% 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
}

.Musica-OFF {
  background-color: transparent;
  color: #fff;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red;
}

.Musica-OFF::before {
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, purple, purple, purple, purple);
  background-size: 400% 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
}

.box-shop {
  background-color: black;
  width: 25%;
  z-index: 1000;
  position: absolute;
  top: 0%;
}

.div-attack {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.div-AutoPoint {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.Boton-Attack {
  padding: 0.8rem;
  background-color: purple;
  border-radius: 20%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.Boton-AutoPoint {
  padding: 0.8rem;
  background-color: purple;
  border-radius: 20%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.box-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.SoloTitle {
  font-size: 5.5rem;
  color: white;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
  margin: 20px 0px 50px 0px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 5rem;
}
form label {
  margin: 12px;
  font-size: 2rem;
}
form input {
  border: 2px solid purple;
  background: grey;
  font-size: 2rem;
}

.BotonLogin {
  font-size: 2rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid purple;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.4s, border-color 0.4s;
  text-shadow: 0 0 5px purple, 0 0 25px purple, 0 0 50px purple, 0 0 100px purple;
}

.LinkJugar {
  color: white;
  text-decoration: none;
}

.h2-fot {
  font-size: 1rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */