.Musica-ON{
    background-color: transparent;
color: #fff;
border: 2px solid green;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
position: relative;
overflow: hidden;
transition: color 0.4s, border-color 0.4s;
text-shadow:0 0 5px green,
        0 0 25px green,
        0 0 50px green,
        0 0 100px green ;
}
.Musica-ON::before {
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, purple, purple, purple, purple);
    background-size: 400% 400%;
    z-index: -1;
    animation: animate 10s linear infinite;
}
.Musica-OFF{
    background-color: transparent;
color: #fff;
border: 2px solid red;
border-radius: 5px;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
position: relative;
overflow: hidden;
transition: color 0.4s, border-color 0.4s;
text-shadow:0 0 5px red,
        0 0 25px red,
        0 0 50px red,
        0 0 100px red ;
}
.Musica-OFF::before {
    position: absolute;
    width: 200%;
    height: 200%;
    background: linear-gradient(45deg, purple, purple, purple, purple);
    background-size: 400% 400%;
    z-index: -1;
    animation: animate 10s linear infinite;
}
