.box-shop{
    background-color: black;
    width: 20%;
    z-index: 1000;
}
.div-attack{
    display: flex;
    margin: 10px;
    justify-content: space-between;

}
.div-AutoPoint{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}