div.NickBarra{
    padding-left: 25px;
    
    display: flex;
    align-items: center;
}
.Top-Lista{
    padding: 10px 25px 10px 25px;
    display: flex;
    align-items:center ;
    flex-direction: column;
    border: 2px solid purple;
    
    ul{
        list-style: none;
        
        
    }
}
div.Cont-tittle{
    display: flex;
    align-items: center;
    .Logo-Tittle{
    
        font-size: 4rem;
        color: white;
        cursor: pointer;
        text-shadow:0 0 5px purple,
        0 0 25px purple,
        0 0 50px purple,
        0 0 100px purple ;
        }
    
    .Logo-Tittle:hover{
        text-shadow:0 0 5px green,
        0 0 25px green,
        0 0 50px green,
        0 0 100px green ;
        }
}
