@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Orbitron:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}
body{
    font-family:'Hammersmith One','Orbitron', sans-serif;
    color: purple;
  }