#ZonaJuego{
    display: flex;
    position: relative;
    width:100%; 
    
    padding-top: 150px;
    padding-bottom: 150px;
    border: 2px solid purple;
    background: rgb(2,0,36);
background: linear-gradient(200deg, rgba(2,0,36,1) 0%, rgba(57,9,121,1) 39%, rgba(246,0,255,1) 100%);
}
